{
	# Replace with your real domain.
	# email you@example.com
}

share.example.com {
	encode zstd gzip

	@backend path /backend/*
	reverse_proxy @backend 127.0.0.1:38080

	@frontend path / /room/* /assets/*
	reverse_proxy @frontend 127.0.0.1:38080

	reverse_proxy 127.0.0.1:38080
}
