{
	# Replace with your real domain.
	# email you@example.com
}

share.example.com {
	encode zstd gzip

	@backend path /backend/*
	reverse_proxy @backend 127.0.0.1:38080

	root * ./client/dist
	try_files {path} {path}/ /index.html
	file_server
}
